<%- include('../layouts/header') %>
  <%- include('../layouts/navbar') %>

<div class="container text-center">  
<h1>Car Catalog</h1>
<br>
</div>
    <div class="container">
      <div class="d-flex flex-wrap bd-highlight gap-5">
        <div class="card" style="width: 18rem ;">
          <img src="<%= car.imageUrl %> " class="card-img-top hj" alt="profile_pp">
          <div class="card-body">
            <h5 class="card-title text-center"><%=car.name%></h5>
            <p class="card-text text-center" ><%= car.description %></p>
            <p class="card-text text-center" ><%= car.condition %></p>
            <p class="card-text text-center" ><%= car.price %></p>
            <p class="card-text text-center" ><%= car.stock %></p>
            <div class="d-grid gap-2">
              <a class="btn btn-info" href="cars/<%= car.id %>">Show Details</a>
              <a class="btn btn-outline-primary" href="">Buy</a>
            </div>
          </div>
        </div>
    
      </div>
    </div>
   
   <%- include('../layouts/footer') %>