<%- include('../layouts/header') %>
<%- include('../layouts/navbar') %>

<div class="container">
  <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Gender</th>
          <th scope="col">Birth Date</th>
        </tr>
      </thead>
      <tbody>
        <% profile.forEach((profile,i) => { %>
          <tr>
            <td><%= i+1 %> </td>
            <td><%= profile.firstName%> </td>
            <td><%= profile.lastName%> </td>
            <td><%= profile.email%> </td>
            <td><%= profile.phoneNumber%> </td>
            <td><%= profile.gender%> </td>
            <td><%= profile.birthDate%> </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
</div>

  <%- include('../layouts/footer') %>