<%- include('../layouts/header') %>
<%- include('../layouts/navbar') %>

<div class="container">
  <table class="table table-success table-striped" border="3">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Gender</th>
          <th scope="col">Birth Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= profile.fullName%> </td>
            <td><%= profile.email%> </td>
            <td><%= profile.phoneNumber%> </td>
            <td><%= profile.gender%> </td>
            <td><%= profile.formatedDate%> </td>
            <td> 
              <a class="btn btn-warning" href="/users/<%= profile.UserId %>/profiles/<%= profile.id %>/edit" role="button">Edit</a>
              <a class="btn btn-danger" href="/users/profiles/<%= profile.id %>/delete" role="button">Delete Account</a>
            </td>
          </tr>
      </tbody>
    </table>
</div>

  <%- include('../layouts/footer') %>